{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/header.css' %}">
    <link rel="stylesheet" href="{% static 'core/create_account.css' %}">
    <title>Create Account</title>
</head>
<body>
    <div id="header">
        <a id="destinations" href="/">Destinations</a>
        <div id="account-links">
            <a href="/session/new">Sign In</a>
        </div>
    </div>
    <h1>Create Your Account</h1>
    <form id="create-account" action="/user/" method="post">
        <label>
            Name:
            <input id="name" name="name">
        </label>
        <label>
            Email:  
            <input id="email" name="email">
        </label>
        <label>
            Password:
            <input id="password" type="password" name="password">
        </label>
        <button id="submit">Create Account</button>
    </form>
</body>
</html>