{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/header.css' %}">
    <link rel="stylesheet" href="{% static 'core/create_account.css' %}">
    <title>Create Account</title>
</head>
<body>
    <div id="header">
        <a id="destinations" href="/">Destinations</a>
        <div id="account-links">
            <a>Sign In</a>
        </div>
    </div>
    <form id="create_account">
        <label>
            Email:
            <input id="email">
        </label>
        <label>
            Password:
            <input id="password">
        </label>
        <button id="submit">Enter</button>
    </form>
</body>
</html>