{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/header.css' %}">
    <link rel="stylesheet" href="{% static 'core/destinations.css'%}">
    <title>My Destinations</title>
</head>
<body>
    <div id="header">
        <a id="destinations" href="/">Destinations</a>
        <div id="account-links">
            <a href="/destinations">My Destinations</a>
            <a href="/sessions/destroy">Log Out</a>
        </div>
    </div>
    <div id="body">
        <h1>My Destinations</h1>
        <a href="/destinations/new">Create Destination</a>
        {% for destination in destinations %}
            <div class="card">
                <a class="destination-link" href="/destinations/{{ destination.id }}">{{ destination.name }}</a>
                <p>Rating: {{ destination.rating }}</p>
                <p>{{ destination.review }}</p>
                {% if destination.share_publicly %}
                    <p>Public</p>
                {% else %}
                    <p>Private</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</body>
</html>