{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/header.css' %}">
    <title>Home</title>
</head>
<body>
    <div id="header">
        <a id="destinations" href="/">Destinations</a>
        {% if request.COOKIES.session_token %}
        <div id="account-links">
            <a href="/destinations">My Destinations</a>
            <a href="/sessions/destroy">Log Out</a>
        </div>
        {% else %}
        <div id="account-links">
            <a href="session/new">Sign In</a>
            <a href="user/new">Create Account</a>
        </div>
        {% endif %}
    </div>
</body>
</html>