#header {
    background-color: orangered;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#header a:link{
    text-decoration: none;
    color: white;
}

#header a:visited{
    text-decoration: none;
    color: white;
}

#account-links{
    margin-top: 10px;
    font-size: 20px;
}

#account-links > a{
    margin: 10px;
}

#destinations {
    font-size: 30px;
}

body {
    margin: 0;
}