#new-destinations {
    display: grid;
    margin: 20px;
}

#new-destinations > label {
    margin: 5px;
}

#review {
    display: grid;  
}

#review > textarea {
    width: 300px;
    height: 100px;
}

#submit {
    width: 70px;
    margin-top: 10px;
}